[submodule "chesj445__AlgoSims2016"]
	path = chesj445__AlgoSims2016
	url = https://github.com/jeanachesnik/chesj445__AlgoSims2016
[submodule "liq529_AlgoSims2016"]
	path = liq529_AlgoSims2016
	url = https://github.com/krisliqc/liq529_AlgoSims2016
[submodule "leet107_algosims2016"]
	path = leet107_algosims2016
	url = https://github.com/thevivs/leet107_algosims2016
[submodule "hud092_AlgoSims2016"]
	path = hud092_AlgoSims2016
	url = https://github.com/DanliHu/hud092_AlgoSims2016
[submodule "cotta074_algosims2016"]
	path = cotta074_algosims2016
	url = https://github.com/thatcotter/cotta074_algosims2016
[submodule "suny030_AlgoSims2016"]
	path = suny030_AlgoSims2016
	url = https://github.com/qishisuicong/suny030_AlgoSims2016
[submodule "fortugnn_AlgoSims2106"]
	path = fortugnn_AlgoSims2106
	url = https://github.com/teacow2/fortugnn_AlgoSims2106
[submodule "ASHEN733_AlgoSims2016"]
	path = ASHEN733_AlgoSims2016
	url = https://github.com/nyantee/ASHEN733_AlgoSims2016.git
[submodule "weit896_AlgoSims2016"]
	path = weit896_AlgoSims2016
	url = https://github.com/monkbysea/weit896_AlgoSims2016
[submodule "Vishaal_AlgoSims2016"]
	path = Vishaal_AlgoSims2016
	url = https://github.com/vishaalravikumar/Vishaal_AlgoSims2016
[submodule "ashen733__AlgoSims2016"]
	path = ashen733__AlgoSims2016
	url = https://github.com/nyantee/ashen733__AlgoSims2016
[submodule "podia270_AlgoSims2016"]
	path = podia270_AlgoSims2016
	url = https://github.com/sunnythedude/podia270_AlgoSims2016.git
[submodule "chesj445_AlgoSims2016"]
	path = chesj445_AlgoSims2016
	url = https://github.com/jeanachesnik/chesj445_AlgoSims2016
